  <style>p.outset {
    border-style: outset;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  html {
    cursor: url('./eeveesprite3.png'), auto;
    height: 20%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  #C1 {
    border: 1.3px solid yellowgreen;
  }

  #C2 {
    border: 1.3px solid yellowgreen;
  }

  #C3 {
    border: 1.3px solid yellowgreen;
  }

  .centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    background-color: rgb(230, 255, 242);
  }

  a:link {
    color: darkgreen;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: lightgreen;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: darkgreen;
    background-color: transparent;
    text-decoration: underline;
  }

  table,
  th,
  td {
  }

  th,
  td {
    padding: 20px;
  }

  </style>
